.serviceCard {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  place-items: center;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.card {
  width: 400px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  transition: 0.3s ease-in-out;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}

.slideTrack {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slide {
  height: 100px;
  width: 250px;
}


