.project-showcase {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100vw;
  box-sizing: border-box;
  height: fit-content;
}

.main-card {
  flex: 1;
  padding: 14px;
  background: #a39cf4;
  border-radius: 10px;
  margin-right: 20px;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.main-project-card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-project-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  z-index: 1;
}

.content-overlay {
  position: relative;
  z-index: 2;
  padding: 20px;
  width: 100%;
  text-align: start;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border-bottom-left-radius: 10px;
}

.content-overlay > p:nth-child(1){
  font-size: 36px;
}

.main-project-card h3 {
  font-size: 1.5em;
  margin: 0 0 10px 0;
  color: white;
}

.main-project-card p {
  font-size: 1em;
  color: white;
  margin: 0;
}

.social-icons {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
  gap: 20px;
}

.navigation button {
  background: rgba(255, 255, 255, 0.8);
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

.carousel-container {
  flex: 1;
  max-width: 50%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-card {
  min-width: calc(100% / 2.58);
  padding: 10px;
  background: #a39cf4;
  border-radius: 10px;
  margin-left: 10px;
  text-align: center;
  cursor: pointer;
  height: 280px;
  overflow: hidden;
}

.carousel-card img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  object-fit: cover;
  height: 100%;
}

.carousel-card h4 {
  font-size: 0.9em;
  margin: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel-card button {
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.expanded-view {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1000;
}

.expanded-view img {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1/1;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.get-full-access {
  background: #d4e4d4;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
